{% extends "base.html" %}

{% block title %}Game{% endblock %}

{% block body %}
<div class="container mt-5 px-40">
    <h1 class="mb-6 text-3xl font-bold">Gaming Session Analysis</h1>

    <a id="gameButton" type="submit" href="/final_report"
        class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-6 rounded-lg mt-2 inline-block transition duration-300 ease-in-out transform hover:scale-105">See
        Report</a>
    <div class="container mb-8 mt-4">
        <h2 class="text-xl font-bold mb-2">Game Analysis Data</h2>
        <p class>Duration: <span class="text-blue-500 font-bold">120s</span></p>

        <!-- Line Chart for Emotion Scores -->
        <canvas id="emotionBarChart1" class="w-3/4 h-64 mb-4"></canvas>
        <input type="hidden" id="dgraphData" value="{{ dgraph_json }}">

    </div>


</div>

<script>
    // Function to reload the graphs every 3 seconds
    setInterval(function () {
        // Reload the page to fetch new data
        location.reload();
    }, 3000);
</script>

<script>
    // Data from Firebase
    const barChartData1 = JSON.parse(document.getElementById('dgraphData').value);

    // Get canvas context
    var ctx = document.getElementById('emotionBarChart1').getContext('2d');

    // Create bar chart
    var emotionBarChart1 = new Chart(ctx, {
        type: 'line',
        data: {
            labels: Object.keys(barChartData1),
            datasets: [{
                label: 'Emotion Scores',
                data: Object.values(barChartData1),
                backgroundColor: [
                    'rgba(255, 99, 132, 0.5)',
                    'rgba(54, 162, 235, 0.5)',
                    'rgba(255, 206, 86, 0.5)',
                    'rgba(75, 192, 192, 0.5)',
                    'rgba(153, 102, 255, 0.5)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: false,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>


{% endblock body %}