{% extends "base.html" %}

{% block title %}Game{% endblock %}

{% block body %}
<div class="container mt-5 px-40">
    <h1 class="mb-6 text-3xl font-bold">Inside Gaming Session</h1>

    <!-- Add canvas element for the line chart -->
    <canvas id="emotionLineChart" class="w-64 h-32 mt-4"></canvas>
    <div id="realTimeUpdates" class="mt-4"></div>
</div>


<script>
    
    var emotionColors = [
        'rgba(255, 0, 0, 1)',
        'rgba(255, 192, 203, 1)',
        'rgba(255, 255, 0, 1)',
        'rgba(0, 128, 0, 1)',
        'rgba(64, 64, 64, 1)',
        'rgba(148, 0, 211, 1)'
    ]

    //line chart
    var ctx = document.getElementById('emotionLineChart').getContext('2d');
    var lineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [], // Initialize empty array for x-axis labels (time)
            datasets: [] // Initialize empty array for datasets (emotion counts)
        },
        options: {
            responsive: true,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });

    //fetch real-time data
    function fetchAndUpdateRealTimeData() {
        //request to fetch 
        fetch('/fetch_emotion_counts_in_game')
            .then(response => response.json())
            .then(data => {
                updateChartData(data);
                // display emotion counts
                let htmlContent = '<h2 class="mb-2 font-bold">Real-time Emotion Counts</h2>';
                htmlContent += '<ul>';
                for (let emotion in data) {
                    htmlContent += `<li>${emotion}: ${data[emotion]}</li>`;
                }
                htmlContent += '</ul>';
                htmlContent += '<br>';

                //update the content
                document.getElementById('realTimeUpdates').innerHTML = htmlContent;
            })
            .catch(error => console.error('Error:', error));
    }


    function updateChartData(data) {
        // Update x-axis labels (time)
        lineChart.data.labels.push(new Date().toLocaleTimeString());

        for (let emotion in data) {
            if (!lineChart.data.datasets.find(dataset => dataset.label === emotion)) {
                lineChart.data.datasets.push({
                    label: emotion,
                    data: [],
                    borderColor: emotionColors,
                    fill: false
                });
            }
            lineChart.data.datasets.find(dataset => dataset.label === emotion).data.push(data[emotion]);
        }

        // Limit number of data points to display
        const maxDataPoints = 100;
        if (lineChart.data.labels.length > maxDataPoints) {
            lineChart.data.labels.shift(); // Remove oldest label
            lineChart.data.datasets.forEach(dataset => {
                dataset.data.shift(); // Remove oldest data point for each dataset
            });
        }

        // Update chart
        lineChart.update();
    }

    fetchAndUpdateRealTimeData();
    var interval = setInterval(fetchAndUpdateRealTimeData, 3000);

    function stopFetchingData() {
        clearInterval(interval);
    }

    setTimeout(stopFetchingData, 60000);

    function redirectToInsideGame() {
    window.location.href = '/post_game';
   }

setTimeout(redirectToInsideGame, 65000);
</script>
{% endblock body %}