{% extends "base.html" %}

{% block title %}Quiz{% endblock %}

{% block body %}
<div class="container mx-auto w-1/2 px-40 mb-40 mt-10">
    <h1 class="text-2xl font-bold mb-4">Select user 👤 for analysis </h1>
    <form action="/game_in_progress" method="POST" class="space-y-4">
        <div class="card">
            <label for="userSelect" class="block">Select User:</label>
            <select id="userSelect" name="selected_user" required
                class="block w-full bg-white border border-gray-300 rounded-md py-2 px-4 focus:outline-none focus:border-blue-500">
                <option value="" disabled selected>Select a user</option>
                {% for user, email in dd_users.items() %}
                {% if user != 'Admin' %}
                <option value="{{ user }}">{{ user }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>

        <button type="submit"
            class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-6 rounded-lg mt-2 inline-block transition duration-300 ease-in-out transform hover:scale-105">Submit</button>
    </form>
</div>
{% endblock body %}