{% extends "base.html" %}

{% block title %}Quiz{% endblock %}

{% block body %}
<div class="container mx-auto px-40">
    <h1 class="text-2xl font-bold mb-4">Quiz: Let's understand your current emotion 😊</h1>
    <form action="/quiz" method="POST" class="space-y-4">
        <div class="card">
            <label for="question1" class="block">1. How do you typically react to unexpected challenges or obstacles in
                your
                life?</label>
            <select id="question1" name="question1" required
                class="block w-full bg-white border border-gray-300 rounded-md py-2 px-4 focus:outline-none focus:border-blue-500">
                <option value="" disabled selected>Select an option</option>
                <option value="A">A) I try to find the silver lining and stay optimistic.</option>
                <option value="B">B) I feel overwhelmed and may need some time alone to process.</option>
                <option value="C">C) I become anxious and worry about the worst-case scenario.</option>
                <option value="D">D) I get frustrated and may express my anger outwardly.</option>
            </select>
        </div>

        <div>
            <label for="question2" class="block">2. What describes your overall outlook on life?</label>
            <select id="question2" name="question2" required
                class="block w-full bg-white border border-gray-300 rounded-md py-2 px-4 focus:outline-none focus:border-blue-500">
                <option value="" disabled selected>Select an option</option>
                <option value="A">A) I believe in finding joy in everyday experiences.</option>
                <option value="B">B) I often feel a sense of longing or melancholy.</option>
                <option value="C">C) I'm cautious and always aware of potential threats.</option>
                <option value="D">D) I tend to have strong opinions and can be assertive or confrontational.
                </option>
            </select>
        </div>

        <div>
            <label for="question3" class="block">3. How do you handle situations that make you feel uncomfortable or
                unsafe?</label>
            <select id="question3" name="question3" required
                class="block w-full bg-white border border-gray-300 rounded-md py-2 px-4 focus:outline-none focus:border-blue-500">
                <option value="" disabled selected>Select an option</option>
                <option value="A">A) I try to maintain a positive attitude and focus on solutions. </option>
                <option value="B">B) I may withdraw or seek comfort from loved ones. </option>
                <option value="C">C) I become hypervigilant and may avoid similar situations in the future.
                </option>
                <option value="D">D) I confront the issue head-on and may become defensive or confrontational.
                </option>
            </select>
        </div>

        <div>
            <label for="question4" class="block">4. What do you value most in your relationships with others?</label>
            <select id="question4" name="question4" required
                class="block w-full bg-white border border-gray-300 rounded-md py-2 px-4 focus:outline-none focus:border-blue-500">
                <option value="" disabled selected>Select an option</option>
                <option value="A">A) Connection and shared moments of joy. </option>
                <option value="B">B) Understanding and empathy during difficult times. </option>
                <option value="C">C) Trust and reliability in times of need. </option>
                <option value="D">D) Respect and honesty, even if it leads to conflict. </option>
            </select>
        </div>

        <div>
            <label for="question5" class="block">5. How do you typically react when you feel misunderstood or ignored by
                others?</label>
            <select id="question5" name="question5" required
                class="block w-full bg-white border border-gray-300 rounded-md py-2 px-4 focus:outline-none focus:border-blue-500">
                <option value="" disabled selected>Select an option</option>
                <option value="A">A) I try to communicate my feelings calmly and seek resolution. </option>
                <option value="B">B) I may feel hurt or withdraw emotionally. </option>
                <option value="C">C) I become anxious or paranoid about others' intentions. </option>
                <option value="D">D) I express my frustration or anger openly. </option>
            </select>
        </div>

        <div>
            <label for="question6" class="block">6. What brings you the most satisfaction in life?</label>
            <select id="question6" name="question6" required
                class="block w-full bg-white border border-gray-300 rounded-md py-2 px-4 focus:outline-none focus:border-blue-500">
                <option value="" disabled selected>Select an option</option>
                <option value="A">A) Achieving personal goals and experiencing moments of happiness. </option>
                <option value="B">B) Connecting with others on a deep emotional level. </option>
                <option value="C">C) Feeling safe and secure in my surroundings. </option>
                <option value="D">D) Standing up for my beliefs and asserting my independence. </option>
            </select>
        </div>

        <div>
            <label for="question7" class="block">7. How do you typically cope with disappointment or setbacks?</label>
            <select id="question7" name="question7" required
                class="block w-full bg-white border border-gray-300 rounded-md py-2 px-4 focus:outline-none focus:border-blue-500">
                <option value="" disabled selected>Select an option</option>
                <option value="A">A) I focus on finding new opportunities for growth and happiness. </option>
                <option value="B">B) I allow myself to feel sad or disappointed before moving forward. </option>
                <option value="C">C) I become anxious or fearful about future outcomes. </option>
                <option value="D">D) I may become angry or resentful, but I try to channel that energy
                    constructively. </option>
            </select>
        </div>

        <div>
            <label for="question8" class="block">8. What motivates you to take action in challenging situations?</label>
            <select id="question8" name="question8" required
                class="block w-full bg-white border border-gray-300 rounded-md py-2 px-4 focus:outline-none focus:border-blue-500">
                <option value="" disabled selected>Select an option</option>
                <option value="A">A) Belief in the possibility of a positive outcome. </option>
                <option value="B">B) Compassion for myself and others who may be struggling. </option>
                <option value="C">C) Fear of potential consequences or harm. </option>
                <option value="D">D) Anger or frustration with the status quo. </option>
            </select>
        </div>

        <div>
            <label for="question9" class="block">9. How do you typically respond to criticism or negative
                feedback?</label>
            <select id="question9" name="question9" required
                class="block w-full bg-white border border-gray-300 rounded-md py-2 px-4 focus:outline-none focus:border-blue-500">
                <option value="" disabled selected>Select an option</option>
                <option value="A">A) I take it constructively and look for areas to improve.</option>
                <option value="B">B) I feel hurt or upset, and it may take me a while to bounce back.</option>
                <option value="C">C) I become defensive and may feel paranoid about others' intentions.</option>
                <option value="D">D) I react with anger or frustration and may lash out defensively.</option>
            </select>
        </div>

        <div>
            <label for="question10" class="block">10. How do you typically cope with uncertainty or
                unpredictability?</label>
            <select id="question10" name="question10" required
                class="block w-full bg-white border border-gray-300 rounded-md py-2 px-4 focus:outline-none focus:border-blue-500">
                <option value="" disabled selected>Select an option</option>
                <option value="A">A) I embrace it as an opportunity for growth and adaptability.</option>
                <option value="B">B) I may feel anxious or overwhelmed, seeking reassurance from others.</option>
                <option value="C">C) I become paranoid or avoidant, fearing the worst possible outcome.</option>
                <option value="D">D) I may become angry or irritable, seeking control over the situation.</option>
            </select>
        </div>

        <div>
            <label for="question11" class="block">11. How do you typically express affection or care towards
                others?</label>
            <select id="question11" name="question11" required
                class="block w-full bg-white border border-gray-300 rounded-md py-2 px-4 focus:outline-none focus:border-blue-500">
                <option value="" disabled selected>Select an option</option>
                <option value="A">A) I show warmth and affection, seeking to make others feel valued and loved.</option>
                <option value="B">B) I may withdraw emotionally, feeling too overwhelmed to connect.</option>
                <option value="C">C) I may become clingy or needy, seeking reassurance and validation.</option>
                <option value="D">D) I may express my care through acts of service or practical support.</option>
            </select>
        </div>


        <button type="submit"
            class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-md mt-4 inline-block">Submit</button>
    </form>
</div>
{% endblock body %}